SteveDelezioSEAssignment2Sit1/Web References/MyService/ServiceManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="DoWork">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="DoWorkResponse">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="Login">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoginResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="LoginResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CreateArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="AcceptArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AcceptArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="RejectArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RejectArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="UpdateArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="UpdateArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DeleteArticle">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="ArticleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DeleteArticleResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="AcceptArticleMediaManager">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="AcceptArticleMediaManagerResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="RejectArticleMediaManager">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="articleTitle" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleContent" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="articleComment" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="articlePublishDate" type="xs:dateTime" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="mediaManagerId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStatusId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleStateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="articleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RejectArticleMediaManagerResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DoesUsernameExist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DoesUsernameExistResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="DoesUsernameExistResult" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegisterUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="username" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="password" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="firstName" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="surname" type="xs:string" />
            <xs:element minOccurs="1" maxOccurs="1" name="roleId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RegisterUserResponse">
        <xs:complexType />
      </xs:element>
      <xs:element name="DefaultStateWorkflowOnRegister">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="position" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="stateId" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:int" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DefaultStateWorkflowOnRegisterResponse">
        <xs:complexType />
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="IServiceManager_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_CreateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_CreateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_AcceptArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_AcceptArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RejectArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RejectArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_UpdateArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_UpdateArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DeleteArticle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticle" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DeleteArticle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArticleResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_AcceptArticleMediaManager_InputMessage">
    <wsdl:part name="parameters" element="tns:AcceptArticleMediaManager" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_AcceptArticleMediaManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:AcceptArticleMediaManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RejectArticleMediaManager_InputMessage">
    <wsdl:part name="parameters" element="tns:RejectArticleMediaManager" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RejectArticleMediaManager_OutputMessage">
    <wsdl:part name="parameters" element="tns:RejectArticleMediaManagerResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DoesUsernameExist_InputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExist" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DoesUsernameExist_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoesUsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DefaultStateWorkflowOnRegister_InputMessage">
    <wsdl:part name="parameters" element="tns:DefaultStateWorkflowOnRegister" />
  </wsdl:message>
  <wsdl:message name="IServiceManager_DefaultStateWorkflowOnRegister_OutputMessage">
    <wsdl:part name="parameters" element="tns:DefaultStateWorkflowOnRegisterResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceManager">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/DoWork" message="tns:IServiceManager_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/DoWorkResponse" message="tns:IServiceManager_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/Login" message="tns:IServiceManager_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/LoginResponse" message="tns:IServiceManager_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/CreateArticle" message="tns:IServiceManager_CreateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/CreateArticleResponse" message="tns:IServiceManager_CreateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/AcceptArticle" message="tns:IServiceManager_AcceptArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/AcceptArticleResponse" message="tns:IServiceManager_AcceptArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/RejectArticle" message="tns:IServiceManager_RejectArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/RejectArticleResponse" message="tns:IServiceManager_RejectArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/UpdateArticle" message="tns:IServiceManager_UpdateArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/UpdateArticleResponse" message="tns:IServiceManager_UpdateArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/DeleteArticle" message="tns:IServiceManager_DeleteArticle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/DeleteArticleResponse" message="tns:IServiceManager_DeleteArticle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AcceptArticleMediaManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/AcceptArticleMediaManager" message="tns:IServiceManager_AcceptArticleMediaManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/AcceptArticleMediaManagerResponse" message="tns:IServiceManager_AcceptArticleMediaManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RejectArticleMediaManager">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/RejectArticleMediaManager" message="tns:IServiceManager_RejectArticleMediaManager_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/RejectArticleMediaManagerResponse" message="tns:IServiceManager_RejectArticleMediaManager_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/DoesUsernameExist" message="tns:IServiceManager_DoesUsernameExist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/DoesUsernameExistResponse" message="tns:IServiceManager_DoesUsernameExist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/RegisterUser" message="tns:IServiceManager_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/RegisterUserResponse" message="tns:IServiceManager_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DefaultStateWorkflowOnRegister">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceManager/DefaultStateWorkflowOnRegister" message="tns:IServiceManager_DefaultStateWorkflowOnRegister_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceManager/DefaultStateWorkflowOnRegisterResponse" message="tns:IServiceManager_DefaultStateWorkflowOnRegister_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceManager" type="tns:IServiceManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/CreateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/AcceptArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/RejectArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/UpdateArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArticle">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/DeleteArticle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AcceptArticleMediaManager">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/AcceptArticleMediaManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RejectArticleMediaManager">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/RejectArticleMediaManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesUsernameExist">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/DoesUsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DefaultStateWorkflowOnRegister">
      <soap:operation soapAction="http://tempuri.org/IServiceManager/DefaultStateWorkflowOnRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceManager">
    <wsdl:port name="BasicHttpBinding_IServiceManager" binding="tns:BasicHttpBinding_IServiceManager">
      <soap:address location="http://localhost:12462/Models/Services/ServiceManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>